label {
  color: $black;
  font-weight: $font-weight-bold;

  &.required::after {
    content: '*';
    margin-left: 2px;
    color: $danger;
    font-size: $font-size-sm;
  }
}

.form-control {
  @include control-invalid-state {
    border-color: $danger;
  }
}
