<app-card>
  <app-card-header>
    <h1>Category Details</h1>
  </app-card-header>

  <app-card-body>
    <ng-container *ngIf="category; else showLoader">
      <div class="row">
        <div class="col-12 col-lg-6 col-xxl-4">
          <ul>
            <li>
              <strong>Name</strong>
              <span class="text-truncate">{{ category.name }}</span>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-template #showLoader>
      <div class="d-flex flex-center h-100">
        <app-loader></app-loader>
      </div>
    </ng-template>
  </app-card-body>
</app-card>

<ng-template cdkPortal>
  <button class="btn btn-primary" routerLink="..">Edit</button>
  <button class="btn btn-primary" routerLink="../..">View List</button>
  <button class="btn btn-danger" (click)="onDeleteCategory()">Delete</button>
</ng-template>
